@import "./assets/css/fonts.css";
@import "./assets/css/icons.css";

/* ===== GENERAL ===== */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.crawler {
  max-width: 1250px;
  margin: 0 auto;
}

h1 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 40px;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  color: #2e3333;
  margin-bottom: 30px;
}

h3 {
  font-size: 18px;
  color: #2e3333;
  margin-bottom: 15px;
}

/* ===== HEADER ===== */

header {
  padding: 10px 0px;
  border-bottom: 1px #e9ebeb solid;
  width: 100%;
}

header img {
  height: 40px;
}

/* ===== RESTAURANT INFOS */

.restaurant-infos {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  gap: 65px;
}

.infos-text p {
  font-size: 19px;
  color: #868a8a;
  line-height: 35px;
}

.infos-picture img {
  height: 200px;
  border-radius: 5px;
}

/* MAIN */

main {
  width: 100%;
  background-color: #f3f5f5;
  padding: 30px 15px;
}

.main-container {
  display: flex;
}

.menu {
  flex: 2.5;
  margin-right: 15px;
}

.menu section {
  margin-bottom: 30px;
}

/* ===== MENU ===== */

.meals {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.menu-item {
  display: flex;
  justify-content: space-between;
  width: 350px;
  background-color: white;
  border-radius: 5px;
  padding: 15px;
  height: 160px;
  flex-grow: 1;
}

.menu-item-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-item p {
  font-size: 14px;
  color: #808484;
  line-height: 21px;
  height: 45px;
  overflow: hidden;
}

.menu-item span {
  font-size: 17px;
  color: #808484;
}

.menu-item-picture img {
  width: 130px;
  height: 130px;
  border-radius: 5px;
  object-fit: cover;
}

.item-infos {
  display: flex;
  gap: 20px;
}

#popular {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  font-weight: bold;
}

/* ===== CART ===== */

.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  /* min-height: 190px; */
  height: 190px;
  max-height: max-content;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  position: sticky;
  top: 30px;
}

.cart button {
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  color: #8b9a9b;
  background-color: #bac3c3;
  width: 100%;
  padding: 16px 0px;
}

.cart-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
}

.cart-item {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin: 10px 5px;
}

.left-cart {
  display: flex;
  align-items: center;
}

.left-cart button {
  width: 25px;
  height: 25px;
  margin: 5px;
}

.empty-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #808484;
  flex-grow: 1;
}

/* ===== RESPONSIVE ===== */

@media (max-width: 768px) {
  .main-container {
    flex-direction: column-reverse;
  }
}

@media (max-width: 885px) {
  h1 {
    font-size: 24px;
    margin-bottom: 40px;
  }

  .restaurant-infos {
    flex-direction: column-reverse;
    gap: 50px;
  }

  .infos-text p {
    font-size: 16px;
    line-height: 24px;
  }

  .infos-picture img {
    height: 200px;
    width: 100vw;
    object-fit: cover;
    border-radius: 0;
  }
}

@media (max-width: 1250px) {
  .restaurant-infos {
    padding: 30px 15px;
  }

  main {
    padding: 30px 15px;
  }
}
